<div class="row" ng-controller="ListingsController" ng-init="find()">
    <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
    </div>
    <div ng-show="success" class="text-success">
        <strong ng-bind="success"></strong>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="listings" coords="'coordinates'" idKey="'_id'">
            <ui-gmap-windows ng-cloak>
                <div ng-non-bindable>
                    <b>Code:</b> {{code}} <br/>
                    <b>Name:</b> {{name}} <br/>
                    <b>Address:</b> {{address}}
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>